<h2><%=error.status%></h2>
<h2><%=error.stack%></h2>
<h2><%=error.message%></h2>

<style>
    body {
    background: #dedede;
}
.page-wrap {
    min-height: 100vh;
}
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <div class="page-wrap d-flex flex-row align-items-center mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">404</span>
                    <div class="mb-4 lead">The page you are looking for was not found.</div>
                    <button onclick="goBack()" class="btn btn-info">Go Back</button>
                </div>
            </div>
        </div>
    </div>
<script>
    let goBack = ()=>{
        history.back()
    }
</script>