<%- include('./includes/header.ejs') %>
    <%- include('./includes/nav.ejs') %>
<div class="container mt-5">
    <section class="mt-5">
    
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
        
        <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
            directly. Our team will come back to you within
            a matter of hours to help you.</p>
    
        <div class="row">
           
            
            <div class="col-md-3 text-center mx-auto">
                <ul class="list-unstyled mb-0">
                    <li>
                       
                        <!-- <a href="https://goo.gl/maps/KHVbNaFmdLfLuND46"></a> -->
                        
                       
                       <h6> Registered Office Address:</h6>
                        <span>Her Style Fashion Store Private Limited,</span>
                        
                       <span> Kinfra Buildings,Kakkanchery</span>
                        
                       <span>Malappuram</span>
                        
                       <p>Kerala, India</p>
                        
                       
                    </li>
    
                    <li>
                        <div class="phone">
                            <a href="tel:8129066716"><i class='bx bxs-phone-call'></i></a>
                            
                            <p>+91 8129066716</p>
                        </div>
    
                        
                    </li>
    
                    <li>
                        <div class="email">
                            <a href="mailto:fashionhu321@gmail.com"><i class='bx bx-envelope'></i></a>
                            
                            <p>shilnasri@gmail.com</p>
                        </div>
                        
                    </li>
                </ul>
            </div>
        
    
        </div>
    
    </section>
    </div>
    <%- include('./includes/footer.ejs') -%>
