<%- include('./includes/header.ejs') %>
  <%- include('./includes/nav.ejs') %>
    <section>
    
      <div style="margin-top: 7rem; margin-bottom: 3rem;" class="col-md-4 ml-auto mr-auto  offset-xl-1 border  rounded  ">
        <form action="" id="loginFormSubmission" method="post">
          <h4 class="my-4 text-center mt-5 ">Login</h4>
      
              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form1Example13">Email address</label>
                <input type="email" id="email" name="email" class="form-control form-control-lg" required />
                <p style="text-align: center;"class="text-danger"id="emailErr"></p>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form1Example23">Password</label>
                <input type="password" id="password" name="password" class="form-control form-control-lg"
                  required />
                  <p style="text-align: center;"class="text-danger"id="passwordErr"></p>
              </div>

              
              <button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>

              <p class="text-center text-muted mt-5 mb-0">Create New Account? <a href="/signup"
                  class="fw-bold text-body"><u>Sign Up</u></a></p>

        </form>
      </div>
      </div>
      </div>
    
    </section>
    <script>
$('#loginFormSubmission').submit((e) => {
				e.preventDefault()
        $.ajax({
            url: '/login',
            method: 'post',
            data: $("#loginFormSubmission").serialize(),
            success: (response) => {
                if (response.loginStatus) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Login success',
                        showConfirmButton: false,
                        timer: 500
                    })
                    location.href = "/"
                } else if (response.emailErr) {
                    document.getElementById('emailErr').innerHTML = "This Email Don't Have Any Account"
                } else if (response.passwordErr) {
                    document.getElementById('passwordErr').innerHTML = "Wrong Password Try Another Password"
                }
            }
        })
    })
    </script>
		<%- include('./includes/footer.ejs') -%>